src/main/java/Model/Agente/srvAgente.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Agente.Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Agente.Service/" name="srvAgente">
<types>
<xsd:schema>
<xsd:import namespace="http://Agente.Service/" schemaLocation="http://localhost:8080/WebServices_Infracciones.IntelliJ-1.0-SNAPSHOT/srvAgente?xsd=1"/>
</xsd:schema>
</types>
<message name="buscarAgente">
<part name="parameters" element="tns:buscarAgente"/>
</message>
<message name="buscarAgenteResponse">
<part name="parameters" element="tns:buscarAgenteResponse"/>
</message>
<message name="insertarAgente">
<part name="parameters" element="tns:insertarAgente"/>
</message>
<message name="insertarAgenteResponse">
<part name="parameters" element="tns:insertarAgenteResponse"/>
</message>
<message name="actualizarAgente">
<part name="parameters" element="tns:actualizarAgente"/>
</message>
<message name="actualizarAgenteResponse">
<part name="parameters" element="tns:actualizarAgenteResponse"/>
</message>
<message name="eliminarAgente">
<part name="parameters" element="tns:eliminarAgente"/>
</message>
<message name="eliminarAgenteResponse">
<part name="parameters" element="tns:eliminarAgenteResponse"/>
</message>
<message name="listarAgentes">
<part name="parameters" element="tns:listarAgentes"/>
</message>
<message name="listarAgentesResponse">
<part name="parameters" element="tns:listarAgentesResponse"/>
</message>
<portType name="srvAgente">
<operation name="buscarAgente">
<input wsam:Action="http://Agente.Service/srvAgente/buscarAgenteRequest" message="tns:buscarAgente"/>
<output wsam:Action="http://Agente.Service/srvAgente/buscarAgenteResponse" message="tns:buscarAgenteResponse"/>
</operation>
<operation name="insertarAgente">
<input wsam:Action="http://Agente.Service/srvAgente/insertarAgenteRequest" message="tns:insertarAgente"/>
<output wsam:Action="http://Agente.Service/srvAgente/insertarAgenteResponse" message="tns:insertarAgenteResponse"/>
</operation>
<operation name="actualizarAgente">
<input wsam:Action="http://Agente.Service/srvAgente/actualizarAgenteRequest" message="tns:actualizarAgente"/>
<output wsam:Action="http://Agente.Service/srvAgente/actualizarAgenteResponse" message="tns:actualizarAgenteResponse"/>
</operation>
<operation name="eliminarAgente">
<input wsam:Action="http://Agente.Service/srvAgente/eliminarAgenteRequest" message="tns:eliminarAgente"/>
<output wsam:Action="http://Agente.Service/srvAgente/eliminarAgenteResponse" message="tns:eliminarAgenteResponse"/>
</operation>
<operation name="listarAgentes">
<input wsam:Action="http://Agente.Service/srvAgente/listarAgentesRequest" message="tns:listarAgentes"/>
<output wsam:Action="http://Agente.Service/srvAgente/listarAgentesResponse" message="tns:listarAgentesResponse"/>
</operation>
</portType>
<binding name="srvAgentePortBinding" type="tns:srvAgente">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buscarAgente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarAgente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarAgente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarAgente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarAgentes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="srvAgente">
<port name="srvAgentePort" binding="tns:srvAgentePortBinding">
<soap:address location="http://localhost:8080/WebServices_Infracciones.IntelliJ-1.0-SNAPSHOT/srvAgente"/>
</port>
</service>
</definitions>