src/main/java/Model/Pago/srvPago.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Pago.Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Pago.Service/" name="srvPago">
<types>
<xsd:schema>
<xsd:import namespace="http://Pago.Service/" schemaLocation="http://localhost:8080/WebServices_Infracciones.IntelliJ-1.0-SNAPSHOT/srvPago?xsd=1"/>
</xsd:schema>
</types>
<message name="insertarPago">
<part name="parameters" element="tns:insertarPago"/>
</message>
<message name="insertarPagoResponse">
<part name="parameters" element="tns:insertarPagoResponse"/>
</message>
<message name="actualizarPago">
<part name="parameters" element="tns:actualizarPago"/>
</message>
<message name="actualizarPagoResponse">
<part name="parameters" element="tns:actualizarPagoResponse"/>
</message>
<message name="listarPago">
<part name="parameters" element="tns:listarPago"/>
</message>
<message name="listarPagoResponse">
<part name="parameters" element="tns:listarPagoResponse"/>
</message>
<message name="buscarPago">
<part name="parameters" element="tns:buscarPago"/>
</message>
<message name="buscarPagoResponse">
<part name="parameters" element="tns:buscarPagoResponse"/>
</message>
<message name="eliminarPago">
<part name="parameters" element="tns:eliminarPago"/>
</message>
<message name="eliminarPagoResponse">
<part name="parameters" element="tns:eliminarPagoResponse"/>
</message>
<portType name="srvPago">
<operation name="insertarPago">
<input wsam:Action="http://Pago.Service/srvPago/insertarPagoRequest" message="tns:insertarPago"/>
<output wsam:Action="http://Pago.Service/srvPago/insertarPagoResponse" message="tns:insertarPagoResponse"/>
</operation>
<operation name="actualizarPago">
<input wsam:Action="http://Pago.Service/srvPago/actualizarPagoRequest" message="tns:actualizarPago"/>
<output wsam:Action="http://Pago.Service/srvPago/actualizarPagoResponse" message="tns:actualizarPagoResponse"/>
</operation>
<operation name="listarPago">
<input wsam:Action="http://Pago.Service/srvPago/listarPagoRequest" message="tns:listarPago"/>
<output wsam:Action="http://Pago.Service/srvPago/listarPagoResponse" message="tns:listarPagoResponse"/>
</operation>
<operation name="buscarPago">
<input wsam:Action="http://Pago.Service/srvPago/buscarPagoRequest" message="tns:buscarPago"/>
<output wsam:Action="http://Pago.Service/srvPago/buscarPagoResponse" message="tns:buscarPagoResponse"/>
</operation>
<operation name="eliminarPago">
<input wsam:Action="http://Pago.Service/srvPago/eliminarPagoRequest" message="tns:eliminarPago"/>
<output wsam:Action="http://Pago.Service/srvPago/eliminarPagoResponse" message="tns:eliminarPagoResponse"/>
</operation>
</portType>
<binding name="srvPagoPortBinding" type="tns:srvPago">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertarPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="srvPago">
<port name="srvPagoPort" binding="tns:srvPagoPortBinding">
<soap:address location="http://localhost:8080/WebServices_Infracciones.IntelliJ-1.0-SNAPSHOT/srvPago"/>
</port>
</service>
</definitions>