src/main/java/Model/Usuario/srvUsuario.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Usuario.Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Usuario.Service/" name="srvUsuario">
<types>
<xsd:schema>
<xsd:import namespace="http://Usuario.Service/" schemaLocation="http://localhost:8080/WebServices_Infracciones.IntelliJ-1.0-SNAPSHOT/srvUsuario?xsd=1"/>
</xsd:schema>
</types>
<message name="autenticarUsuario">
<part name="parameters" element="tns:autenticarUsuario"/>
</message>
<message name="autenticarUsuarioResponse">
<part name="parameters" element="tns:autenticarUsuarioResponse"/>
</message>
<message name="actualizarUsuario">
<part name="parameters" element="tns:actualizarUsuario"/>
</message>
<message name="actualizarUsuarioResponse">
<part name="parameters" element="tns:actualizarUsuarioResponse"/>
</message>
<message name="eliminarUsuario">
<part name="parameters" element="tns:eliminarUsuario"/>
</message>
<message name="eliminarUsuarioResponse">
<part name="parameters" element="tns:eliminarUsuarioResponse"/>
</message>
<message name="insertarUsuario">
<part name="parameters" element="tns:insertarUsuario"/>
</message>
<message name="insertarUsuarioResponse">
<part name="parameters" element="tns:insertarUsuarioResponse"/>
</message>
<message name="listarUsuarios">
<part name="parameters" element="tns:listarUsuarios"/>
</message>
<message name="listarUsuariosResponse">
<part name="parameters" element="tns:listarUsuariosResponse"/>
</message>
<message name="buscarUsuario">
<part name="parameters" element="tns:buscarUsuario"/>
</message>
<message name="buscarUsuarioResponse">
<part name="parameters" element="tns:buscarUsuarioResponse"/>
</message>
<portType name="srvUsuario">
<operation name="autenticarUsuario">
<input wsam:Action="http://Usuario.Service/srvUsuario/autenticarUsuarioRequest" message="tns:autenticarUsuario"/>
<output wsam:Action="http://Usuario.Service/srvUsuario/autenticarUsuarioResponse" message="tns:autenticarUsuarioResponse"/>
</operation>
<operation name="actualizarUsuario">
<input wsam:Action="http://Usuario.Service/srvUsuario/actualizarUsuarioRequest" message="tns:actualizarUsuario"/>
<output wsam:Action="http://Usuario.Service/srvUsuario/actualizarUsuarioResponse" message="tns:actualizarUsuarioResponse"/>
</operation>
<operation name="eliminarUsuario">
<input wsam:Action="http://Usuario.Service/srvUsuario/eliminarUsuarioRequest" message="tns:eliminarUsuario"/>
<output wsam:Action="http://Usuario.Service/srvUsuario/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse"/>
</operation>
<operation name="insertarUsuario">
<input wsam:Action="http://Usuario.Service/srvUsuario/insertarUsuarioRequest" message="tns:insertarUsuario"/>
<output wsam:Action="http://Usuario.Service/srvUsuario/insertarUsuarioResponse" message="tns:insertarUsuarioResponse"/>
</operation>
<operation name="listarUsuarios">
<input wsam:Action="http://Usuario.Service/srvUsuario/listarUsuariosRequest" message="tns:listarUsuarios"/>
<output wsam:Action="http://Usuario.Service/srvUsuario/listarUsuariosResponse" message="tns:listarUsuariosResponse"/>
</operation>
<operation name="buscarUsuario">
<input wsam:Action="http://Usuario.Service/srvUsuario/buscarUsuarioRequest" message="tns:buscarUsuario"/>
<output wsam:Action="http://Usuario.Service/srvUsuario/buscarUsuarioResponse" message="tns:buscarUsuarioResponse"/>
</operation>
</portType>
<binding name="srvUsuarioPortBinding" type="tns:srvUsuario">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="autenticarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="srvUsuario">
<port name="srvUsuarioPort" binding="tns:srvUsuarioPortBinding">
<soap:address location="http://localhost:8080/WebServices_Infracciones.IntelliJ-1.0-SNAPSHOT/srvUsuario"/>
</port>
</service>
</definitions>