src/main/java/Model/Vehiculo/srvVehiculo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Vehiculo.Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Vehiculo.Service/" name="srvVehiculo">
<types>
<xsd:schema>
<xsd:import namespace="http://Vehiculo.Service/" schemaLocation="http://localhost:8080/WebServices_Infracciones.IntelliJ-1.0-SNAPSHOT/srvVehiculo?xsd=1"/>
</xsd:schema>
</types>
<message name="insertarVehiculo">
<part name="parameters" element="tns:insertarVehiculo"/>
</message>
<message name="insertarVehiculoResponse">
<part name="parameters" element="tns:insertarVehiculoResponse"/>
</message>
<message name="eliminarVehiculo">
<part name="parameters" element="tns:eliminarVehiculo"/>
</message>
<message name="eliminarVehiculoResponse">
<part name="parameters" element="tns:eliminarVehiculoResponse"/>
</message>
<message name="listarVehiculos">
<part name="parameters" element="tns:listarVehiculos"/>
</message>
<message name="listarVehiculosResponse">
<part name="parameters" element="tns:listarVehiculosResponse"/>
</message>
<message name="buscarVehiculo">
<part name="parameters" element="tns:buscarVehiculo"/>
</message>
<message name="buscarVehiculoResponse">
<part name="parameters" element="tns:buscarVehiculoResponse"/>
</message>
<message name="actualizarVehiculo">
<part name="parameters" element="tns:actualizarVehiculo"/>
</message>
<message name="actualizarVehiculoResponse">
<part name="parameters" element="tns:actualizarVehiculoResponse"/>
</message>
<portType name="srvVehiculo">
<operation name="insertarVehiculo">
<input wsam:Action="http://Vehiculo.Service/srvVehiculo/insertarVehiculoRequest" message="tns:insertarVehiculo"/>
<output wsam:Action="http://Vehiculo.Service/srvVehiculo/insertarVehiculoResponse" message="tns:insertarVehiculoResponse"/>
</operation>
<operation name="eliminarVehiculo">
<input wsam:Action="http://Vehiculo.Service/srvVehiculo/eliminarVehiculoRequest" message="tns:eliminarVehiculo"/>
<output wsam:Action="http://Vehiculo.Service/srvVehiculo/eliminarVehiculoResponse" message="tns:eliminarVehiculoResponse"/>
</operation>
<operation name="listarVehiculos">
<input wsam:Action="http://Vehiculo.Service/srvVehiculo/listarVehiculosRequest" message="tns:listarVehiculos"/>
<output wsam:Action="http://Vehiculo.Service/srvVehiculo/listarVehiculosResponse" message="tns:listarVehiculosResponse"/>
</operation>
<operation name="buscarVehiculo">
<input wsam:Action="http://Vehiculo.Service/srvVehiculo/buscarVehiculoRequest" message="tns:buscarVehiculo"/>
<output wsam:Action="http://Vehiculo.Service/srvVehiculo/buscarVehiculoResponse" message="tns:buscarVehiculoResponse"/>
</operation>
<operation name="actualizarVehiculo">
<input wsam:Action="http://Vehiculo.Service/srvVehiculo/actualizarVehiculoRequest" message="tns:actualizarVehiculo"/>
<output wsam:Action="http://Vehiculo.Service/srvVehiculo/actualizarVehiculoResponse" message="tns:actualizarVehiculoResponse"/>
</operation>
</portType>
<binding name="srvVehiculoPortBinding" type="tns:srvVehiculo">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertarVehiculo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarVehiculo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarVehiculos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarVehiculo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarVehiculo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="srvVehiculo">
<port name="srvVehiculoPort" binding="tns:srvVehiculoPortBinding">
<soap:address location="http://localhost:8080/WebServices_Infracciones.IntelliJ-1.0-SNAPSHOT/srvVehiculo"/>
</port>
</service>
</definitions>