src/main/java/Model/Sancion/srvSancion.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Sancion.Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Sancion.Service/" name="srvSancion">
<types>
<xsd:schema>
<xsd:import namespace="http://Sancion.Service/" schemaLocation="http://localhost:8080/WebServices_Infracciones.IntelliJ-1.0-SNAPSHOT/srvSancion?xsd=1"/>
</xsd:schema>
</types>
<message name="listarSanciones">
<part name="parameters" element="tns:listarSanciones"/>
</message>
<message name="listarSancionesResponse">
<part name="parameters" element="tns:listarSancionesResponse"/>
</message>
<message name="eliminarSancion">
<part name="parameters" element="tns:eliminarSancion"/>
</message>
<message name="eliminarSancionResponse">
<part name="parameters" element="tns:eliminarSancionResponse"/>
</message>
<message name="buscarSancion">
<part name="parameters" element="tns:buscarSancion"/>
</message>
<message name="buscarSancionResponse">
<part name="parameters" element="tns:buscarSancionResponse"/>
</message>
<message name="insertarSancion">
<part name="parameters" element="tns:insertarSancion"/>
</message>
<message name="insertarSancionResponse">
<part name="parameters" element="tns:insertarSancionResponse"/>
</message>
<message name="actualizarSancion">
<part name="parameters" element="tns:actualizarSancion"/>
</message>
<message name="actualizarSancionResponse">
<part name="parameters" element="tns:actualizarSancionResponse"/>
</message>
<portType name="srvSancion">
<operation name="listarSanciones">
<input wsam:Action="http://Sancion.Service/srvSancion/listarSancionesRequest" message="tns:listarSanciones"/>
<output wsam:Action="http://Sancion.Service/srvSancion/listarSancionesResponse" message="tns:listarSancionesResponse"/>
</operation>
<operation name="eliminarSancion">
<input wsam:Action="http://Sancion.Service/srvSancion/eliminarSancionRequest" message="tns:eliminarSancion"/>
<output wsam:Action="http://Sancion.Service/srvSancion/eliminarSancionResponse" message="tns:eliminarSancionResponse"/>
</operation>
<operation name="buscarSancion">
<input wsam:Action="http://Sancion.Service/srvSancion/buscarSancionRequest" message="tns:buscarSancion"/>
<output wsam:Action="http://Sancion.Service/srvSancion/buscarSancionResponse" message="tns:buscarSancionResponse"/>
</operation>
<operation name="insertarSancion">
<input wsam:Action="http://Sancion.Service/srvSancion/insertarSancionRequest" message="tns:insertarSancion"/>
<output wsam:Action="http://Sancion.Service/srvSancion/insertarSancionResponse" message="tns:insertarSancionResponse"/>
</operation>
<operation name="actualizarSancion">
<input wsam:Action="http://Sancion.Service/srvSancion/actualizarSancionRequest" message="tns:actualizarSancion"/>
<output wsam:Action="http://Sancion.Service/srvSancion/actualizarSancionResponse" message="tns:actualizarSancionResponse"/>
</operation>
</portType>
<binding name="srvSancionPortBinding" type="tns:srvSancion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarSanciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarSancion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarSancion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarSancion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarSancion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="srvSancion">
<port name="srvSancionPort" binding="tns:srvSancionPortBinding">
<soap:address location="http://localhost:8080/WebServices_Infracciones.IntelliJ-1.0-SNAPSHOT/srvSancion"/>
</port>
</service>
</definitions>