src/main/java/Model/Infraccion/srvInfraccion.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Infraccion.Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Infraccion.Service/" name="srvInfraccion">
<types>
<xsd:schema>
<xsd:import namespace="http://Infraccion.Service/" schemaLocation="http://localhost:8080/WebServices_Infracciones.IntelliJ-1.0-SNAPSHOT/srvInfraccion?xsd=1"/>
</xsd:schema>
</types>
<message name="listarInfracciones">
<part name="parameters" element="tns:listarInfracciones"/>
</message>
<message name="listarInfraccionesResponse">
<part name="parameters" element="tns:listarInfraccionesResponse"/>
</message>
<message name="buscarInfraccion">
<part name="parameters" element="tns:buscarInfraccion"/>
</message>
<message name="buscarInfraccionResponse">
<part name="parameters" element="tns:buscarInfraccionResponse"/>
</message>
<message name="insertarInfraccion">
<part name="parameters" element="tns:insertarInfraccion"/>
</message>
<message name="insertarInfraccionResponse">
<part name="parameters" element="tns:insertarInfraccionResponse"/>
</message>
<message name="actualizarInfraccion">
<part name="parameters" element="tns:actualizarInfraccion"/>
</message>
<message name="actualizarInfraccionResponse">
<part name="parameters" element="tns:actualizarInfraccionResponse"/>
</message>
<message name="eliminarInfraccion">
<part name="parameters" element="tns:eliminarInfraccion"/>
</message>
<message name="eliminarInfraccionResponse">
<part name="parameters" element="tns:eliminarInfraccionResponse"/>
</message>
<portType name="srvInfraccion">
<operation name="listarInfracciones">
<input wsam:Action="http://Infraccion.Service/srvInfraccion/listarInfraccionesRequest" message="tns:listarInfracciones"/>
<output wsam:Action="http://Infraccion.Service/srvInfraccion/listarInfraccionesResponse" message="tns:listarInfraccionesResponse"/>
</operation>
<operation name="buscarInfraccion">
<input wsam:Action="http://Infraccion.Service/srvInfraccion/buscarInfraccionRequest" message="tns:buscarInfraccion"/>
<output wsam:Action="http://Infraccion.Service/srvInfraccion/buscarInfraccionResponse" message="tns:buscarInfraccionResponse"/>
</operation>
<operation name="insertarInfraccion">
<input wsam:Action="http://Infraccion.Service/srvInfraccion/insertarInfraccionRequest" message="tns:insertarInfraccion"/>
<output wsam:Action="http://Infraccion.Service/srvInfraccion/insertarInfraccionResponse" message="tns:insertarInfraccionResponse"/>
</operation>
<operation name="actualizarInfraccion">
<input wsam:Action="http://Infraccion.Service/srvInfraccion/actualizarInfraccionRequest" message="tns:actualizarInfraccion"/>
<output wsam:Action="http://Infraccion.Service/srvInfraccion/actualizarInfraccionResponse" message="tns:actualizarInfraccionResponse"/>
</operation>
<operation name="eliminarInfraccion">
<input wsam:Action="http://Infraccion.Service/srvInfraccion/eliminarInfraccionRequest" message="tns:eliminarInfraccion"/>
<output wsam:Action="http://Infraccion.Service/srvInfraccion/eliminarInfraccionResponse" message="tns:eliminarInfraccionResponse"/>
</operation>
</portType>
<binding name="srvInfraccionPortBinding" type="tns:srvInfraccion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarInfracciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarInfraccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarInfraccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarInfraccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarInfraccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="srvInfraccion">
<port name="srvInfraccionPort" binding="tns:srvInfraccionPortBinding">
<soap:address location="http://localhost:8080/WebServices_Infracciones.IntelliJ-1.0-SNAPSHOT/srvInfraccion"/>
</port>
</service>
</definitions>