src/main/java/Model/Conductor/srvConductor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Conductor.Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Conductor.Service/" name="srvConductor">
<types>
<xsd:schema>
<xsd:import namespace="http://Conductor.Service/" schemaLocation="http://localhost:8080/WebServices_Infracciones.IntelliJ-1.0-SNAPSHOT/srvConductor?xsd=1"/>
</xsd:schema>
</types>
<message name="listarConductores">
<part name="parameters" element="tns:listarConductores"/>
</message>
<message name="listarConductoresResponse">
<part name="parameters" element="tns:listarConductoresResponse"/>
</message>
<message name="buscarConductor">
<part name="parameters" element="tns:buscarConductor"/>
</message>
<message name="buscarConductorResponse">
<part name="parameters" element="tns:buscarConductorResponse"/>
</message>
<message name="actualizarConductor">
<part name="parameters" element="tns:actualizarConductor"/>
</message>
<message name="actualizarConductorResponse">
<part name="parameters" element="tns:actualizarConductorResponse"/>
</message>
<message name="insertarConductor">
<part name="parameters" element="tns:insertarConductor"/>
</message>
<message name="insertarConductorResponse">
<part name="parameters" element="tns:insertarConductorResponse"/>
</message>
<message name="eliminarConductor">
<part name="parameters" element="tns:eliminarConductor"/>
</message>
<message name="eliminarConductorResponse">
<part name="parameters" element="tns:eliminarConductorResponse"/>
</message>
<portType name="srvConductor">
<operation name="listarConductores">
<input wsam:Action="http://Conductor.Service/srvConductor/listarConductoresRequest" message="tns:listarConductores"/>
<output wsam:Action="http://Conductor.Service/srvConductor/listarConductoresResponse" message="tns:listarConductoresResponse"/>
</operation>
<operation name="buscarConductor">
<input wsam:Action="http://Conductor.Service/srvConductor/buscarConductorRequest" message="tns:buscarConductor"/>
<output wsam:Action="http://Conductor.Service/srvConductor/buscarConductorResponse" message="tns:buscarConductorResponse"/>
</operation>
<operation name="actualizarConductor">
<input wsam:Action="http://Conductor.Service/srvConductor/actualizarConductorRequest" message="tns:actualizarConductor"/>
<output wsam:Action="http://Conductor.Service/srvConductor/actualizarConductorResponse" message="tns:actualizarConductorResponse"/>
</operation>
<operation name="insertarConductor">
<input wsam:Action="http://Conductor.Service/srvConductor/insertarConductorRequest" message="tns:insertarConductor"/>
<output wsam:Action="http://Conductor.Service/srvConductor/insertarConductorResponse" message="tns:insertarConductorResponse"/>
</operation>
<operation name="eliminarConductor">
<input wsam:Action="http://Conductor.Service/srvConductor/eliminarConductorRequest" message="tns:eliminarConductor"/>
<output wsam:Action="http://Conductor.Service/srvConductor/eliminarConductorResponse" message="tns:eliminarConductorResponse"/>
</operation>
</portType>
<binding name="srvConductorPortBinding" type="tns:srvConductor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarConductores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarConductor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarConductor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarConductor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarConductor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="srvConductor">
<port name="srvConductorPort" binding="tns:srvConductorPortBinding">
<soap:address location="http://localhost:8080/WebServices_Infracciones.IntelliJ-1.0-SNAPSHOT/srvConductor"/>
</port>
</service>
</definitions>